@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    padding-bottom: env(safe-area-inset-bottom);
    font-family: "Open Sans", sans-serif;
  }

  body {
    touch-actions: none;
    overscroll-behavior: none;
    color: rgb(39, 52, 59);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}

@layer components {

}
